* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: barlow;
}

#login {
  margin: 100px auto;
  width: 950px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.left-image {
  position: relative;
}

.left-image img {
 width: 500px;
  display: flex;
}

.left-image .logo-iintoo img {
  width: 80px;
  position: absolute;
  top: 40px;
  left: 40px;
}

form {
  max-width: 450px;
  height: auto;
  margin-top: 60px;
  padding: 20px;
  margin-right: 30px;
 display: inline;
}

h1 {
  font-weight: 450;
  font-size: 17px;
  margin-bottom: 10px;
  color: #5e6467;
}

.form-header p {
  font-size: 10px;
  margin-bottom: 30px;
  color: #7B8A92;
  
}

.btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 40px;
  height: 25px;
}

.fb {
  position: relative;
}

.fb img {
  width: 11px;
  position: absolute;
  top: 9px;
  left: 7px;
}

.btn .facebook-btn {
  width: 160px;
  font-size: 10px;
  background-color: #255A9B;
  color: white;
  padding: 8px;
  text-align: center;
  border: 0px;
}

.btn .facebook-btn:hover {
  cursor: pointer;
  background-color: white;
  border: solid 1px #255A9b;
  color: #255A9b;
}

.btn .linkedin-btn {
  width: 160px;
  font-size: 10px;
  background-color: #0076B6;
  color: white;
  padding: 8px;
  text-align: center;
  border: 0px;
}

.btn .linkedin-btn:hover {
cursor: pointer;
background-color: white;
color: #0076B6;
border: 1px solid #0076B6;

}

p {
  font-size: 10px;
  color: #7B8A92;
}

.lin {
  position: relative;
}

.lin img {
  width: 11px;
  position: absolute;
  top: 7px;
  left: 8px;
}

.option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
margin-bottom: 30px;
align-items: center;
}

.option p {
  font-size: 7px;
}

.option:before {
  display: flex;
  justify-content: right;
  align-items: right;
  content: "";
  border-top: solid #7B8A92 1px;
  width: 70px;
  gap: 3px;
}

.option:after {
  display: flex;
  justify-content: left;
  align-items: left;
  content: "";
  border-top: solid #7B8A92 1px;
  width: 70px;
}

.input-field {
display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 40px;
  height: 25px;
  position: relative;
    color: #afafaf;
}

input:focus {
  outline: none;
}


input[type=email], input[type=tel] {
  display: flex;
  width: 160px;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline;
  font-size: 11px;
  margin-bottom: 40px;
  height: 40px;
  border: solid #AFAFAF 1px;
  padding-left: 10px;
  padding-top: 20px;
}

.input-field label {
  font-size: 10px;
  color: #afafaf;
  position: absolute;
  top: 8px;
  padding-left: 10px;
}

input[type=email], input[type=tel]:hover {
  border-left: solid 2px #2A4A5C;
}

.investor-text p:first-child{
  font-size: 13px;
  margin-bottom: 8px;
  color: rgb(51, 50, 50);
}

.investor-text p:last-child {
  font-size: 9px;
  margin-bottom: 30px;
}

.radios {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
   position: relative;
   margin-bottom: 60px;
   font-size: 9px;
}

.radios input {
  width: 10px;
  margin-right: 5px;
}

.radios label {
  vertical-align: top;
}

span {
  display: inline-block;
  margin-left: 3px;
  font-size: 7px;
   color: #afafaf;
}

.individual {
  position: relative;
}

.individual-info p {
 width: 160px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 7px;
  position: absolute;
  left: 0px;
}

.individual-info {
  display: none;
}

.individual:hover .individual-info {
  display: block;
}


.business-info p {
   width: 160px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 7px;
  position: absolute;
  left: 80px;
}

.business-info {
  display: none;
}

.business:hover  .business-info {
  display: block;
}

.ira-info p {
 width: 160px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 7px;
  position: absolute;
  left: 160px;
}

.ira-info {
  display: none;
}

.ira:hover .ira-info {
  display: block;
}

.trust {
  position: relative;
}

.trust-info p {
 width: 160px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.0), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 7px;
  position: absolute;
  right: 0px;
  top: 20px;
}

.trust-info {
  display: none;
}

.trust:hover  .trust-info {
  display: block;
}

.terms {
  display: flex;
  justify-content:  flex-start;
  gap: 10px;
  align-items: center;
  margin-bottom: 30px;
}

.terms label {
  font-size: 8px;
}

.terms input[type=checkbox]{
  width: 7px;
}

.create-account {
  width: 160px;
  height: 25px;
  background-color: #0e96df;
  padding: 10px 10px 10px 10px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  border-radius: 3px;
}

.create-account:hover {
  background-color: #63bcec;
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in;
}

